body {
    background-image: url('./assets/wallpaper.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a.container {
    text-decoration: none;
    color: black;
}

a.container:hover {
    box-shadow: 0em 0em 1em rgb(255, 255, 255);
}

ul {
    list-style: none;
}