<nav class="mb-5 navbar navbar-expand-sm shadow-lg" data-bs-theme="dark" style="background-image: linear-gradient(rgb(0, 110, 255),rgb(0, 47, 255));">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">{{title}}</a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/games">Games</a></li>
        <li *ngIf="authService.getUser()" class="nav-item"><a class="nav-link" routerLink="/lists">Lists</a></li>
        <li *ngIf="authService.getUser()" class="nav-item"><a class="nav-link" routerLink="/settings">Settings</a></li>
      </ul>
      <span *ngIf="!authService.getUser(); else hasUser">
        <button class="me-2 btn btn-outline-light" routerLink="/login">Login</button>
        <button class="btn btn-light" routerLink="/register">Register</button>
      </span>
      <ng-template #hasUser>
        <span class="me-2 text-light">Welcome, {{authService.getUser()?.username}}</span>
        <span *ngIf="authService.getUser()?.admin" class="me-2 text-warning">&lt;Admin&gt;</span>
        <button class="me-2 btn btn-outline-light" (click)="logout()">Logout</button>
      </ng-template>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>