<div class="row mb-5">
    <button class="col-auto me-3 btn btn-light" (click)="goBack()">Return</button>
    <h3 class="col-auto text-light">{{list?.name}}</h3>
    <span class="col"></span>
    <button class="col-auto me-3 btn btn-light" (click)="renameList()">Rename</button>
    <button class="col-auto me-3 btn btn-light" (click)="deleteList()">Delete</button>
</div>

<h3 *ngIf="games.length < 1" class="text-light">No games found</h3>

<div class="mb-5 row row-cols-1 row-cols-xl-2 g-3">
    <div *ngFor="let g of games" class="col">
        <div class="container p-0 row text-bg-light rounded overflow-hidden" style="height:16em;">
            <div class="col-6 p-0">
                <img *ngIf="g.background_image; else noImage" [src]="g.background_image" loading="lazy"
                    style="object-fit: cover; width:100%; height:16em;">
                <ng-template #noImage>
                    <img src="../../assets/dummy.jpg" loading="lazy"
                        style="object-fit: cover; width:100%; height:16em;">
                </ng-template>
            </div>
            <div class="col-6 p-4">
                <button type="button" class="btn-close float-end" (click)="removeGame(g.slug)"></button>
                    <a routerLink="/games/{{g.slug}}"><h5>{{g.name}}</h5></a>
                <div *ngIf="g.genres.length > 0">
                    <span>Genres: </span>
                    <span *ngFor="let gn of g.genres; let i = index">{{gn.name}}{{i === g.genres.length -1 ?
                        '' : ',&nbsp;' }}</span>
                </div>
                <div *ngIf="g.platforms.length > 0">
                    <span>Platforms: </span>
                    <span *ngFor="let p of g.platforms; let i = index">{{p.platform.name}}{{i === g.platforms.length -1
                        ?
                        '' : ',&nbsp;' }}</span>
                </div>
                <div *ngIf="g.released">Release Date: {{g.released}}</div>
                <div *ngIf="g.esrb_rating">Rating: {{g.esrb_rating.name}}</div>
                <div *ngIf="g.metacritic">Metacritic Score: {{g.metacritic}}</div>
            </div>
        </div>
    </div>
</div>