<div class="container mb-5 p-4 text-bg-light rounded" style="max-width: 50em;">
    <div class="mb-5 row align-items-baseline">
        <h3 class="col-auto">Settings</h3>
        <div class="col text-dark">ID: 34353</div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Username</h5>
            <p>Admin</p>
        </div>
        <div class="col-auto"><button class="btn btn-secondary">Change username</button></div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Email</h5>
            <p>admin@test.com</p>
        </div>
        <div class="col-auto"><button class="btn btn-secondary">Change email</button></div>
    </div>
    <div class="mb-4 row">
        <div class="col">
            <h5>Password</h5>
        </div>
        <div class="col-auto"><button class="btn btn-secondary">Reset password</button></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-auto"><a class="text-danger">Deactivate account</a></div>
    </div>
</div>